@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,100&family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    margin: 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* nav-section */

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    /* border: 2px solid goldenrod; */
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.header-span {
    color: #FF42A5;
}

.nav-list-container {
    display: flex;
    margin-right: 130px;
    align-items: center;
}

.common-heading {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-img {
    width: 80px;
    height: 30px;
    padding-right: 15px;
}

nav>div>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 15px;
    color: #3C354F;
    text-align: center;
    /* font-family: Work Sans; */
    font-size: .8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-btn {
    width: 200px;
    height: 30px;
    color: #3C354F;
    text-align: center;
    /* font-family: Work Sans; */
    font-size: .6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    background: rgba(11, 2, 35, 0.10);
    padding-bottom: 2px;
    border: none;
}


/* Play Like The G.O.A.T */

.banner-text {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 110px 210px;
    background-image: url("images/group\ 114.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.banner-text-heading {
    color: #0B0223;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 0px;
}

.btn-primary {
    display: inline-flex;
    padding: 13px 24px;
    border: none;
    border-radius: 40px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: .8rem;
    font-style: normal;
    font-weight: 600;
    margin-right: 10px;
}

.btn2 {
    background-color: #4EC5F7;
}

.btn3 {
    margin-left: 250px;
}

.banner-image {
    width: 500px;
    height: 100%;
    /* padding-left: 40px; */
    padding-right: 140px;
}


/* We are gamer section css */

.gamer-section-contrainer {
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    ;
}

.gamer-image {
    height: 390px;
    width: 650px;
    padding: 26px 26px 26px 120px;
}

.gamer-text-section {
    display: block;
    justify-content: right;
}

.common-header {
    text-align: right;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.primary-paragraph {
    color: #534C64;
    text-align: right;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.ellipsis {
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    /* 187.5% */
}

.gamer-section-span {
    text-align: right;
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}


/* Online Games Funny Videos css */

.online-games-container {
    margin-top: 70px;
}

.span-3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #141314 0%, #070708 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-image {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.collage-image {
    width: 242px;
    height: 300px;
    margin-right: 10px;
}

.common-header2,
.common-paragraph2 {
    text-align: center;
}

.common-para {
    text-align: left;
}


/* 
Play Instantly,No Downloads  No Installs */

.play-instant-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-top: 70px;
    height: 500px;
}

.play-instantly-section-text {
    padding-left: 220px;
}

.play-instant-image {
    width: 400px;
    height: 420px;
    border-radius: 4px;
    margin-left: 100px;
}

.bonus-image {
    width: 220px;
    height: 260px;
    display: flex;
    position: relative;
    bottom: 175px;
}

.play-instantly-section-image {
    height: 500px;
}


/* category of game section css */

.category-game-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 90px;
    margin-left: 150px;
}

.collage-image2 {
    display: flex;
    gap: 10px;
    margin-right: 15px;
    color: #0B0223;
    font-size: .9rem;
    font-weight: 600;
}

.collage-image2:hover {
    border: 2px solid hotpink;
    border-radius: 30px;
    color: #F948B2;
}

.category-game-container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
    margin-left: 250px;
}

.collage-image3 {
    display: flex;
    gap: 10px;
    margin-right: 15px;
    color: #0B0223;
    font-size: .9rem;
    font-weight: 600;
}

.collage-image3:hover {
    border: 2px solid hotpink;
    border-radius: 30px;
    color: #F948B2;
}


/* fotter section css */

.fotter-container {
    width: 100%;
    height: 436px;
    /* background-color: ; */
    background: #0B0223;
    padding-left: 80px;
    text-align: center;
    margin-top: 70px;
}

.fotter-collage {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 40px;
    gap: 0px;
}

.fotter-collage-text {
    color: #FFF;
    text-align: center;
    /* font-family: Work Sans; */
    font-size: .8rem;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */
    width: 80px;
}

.fotter-icon-collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}

.fotter-icon {
    /* width: 24px;
    height: 24px; */
    /* flex-shrink: 0; */
}

.fotter-last-text-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    margin-bottom: 30px;
}

.fotter-last-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: .6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 120px;
}

.span-4 {
    color: white;
}

.fotter-head {
    display: flex;
    justify-content: center;
    margin-right: 300px;
    padding-top: 80px;
}

small {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    /* font-family: Work Sans; */
    font-size: .6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* margin-top: 40px; */
}